@import '../theme';

.header {
    align-items: center;
    background-color: $themeLighterAltColor;
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-top: 4px;
}

.headerTitle {
    font-size: 20px;
    padding-bottom: 6px;
}
