@import './theme';

body {
    margin: 0;
}

.popupContainer {
    max-width: 350px;
}

.shortfutsList {
    display: flex;
    flex-direction: column;
    padding: 8px;

    :last-child {
        border-bottom: none;
    }
}

.shortfut {
    border-bottom: 1px solid $themeLighterColor;
    display: flex;
    padding: 0px 2px;

    .shortfutShared {
        padding: 4px 2px;
    }

    .shortfutDescription {
        @extend .shortfutShared;
        width: 300px;
    }

    .shortfutShortcut {
        @extend .shortfutShared;
        color: $themePrimaryColor;
        text-align: right;
        width: 70px;
    }
}

.footer {
    align-items: center;
    background-color: $themeLighterAltColor;
    display: flex;
    justify-content: space-around;
    padding: 0 24px;
}
