.popupContainer {
    max-width: 350px;
}

.shortfutsList {
    display: flex;
    flex-direction: column;

    :last-child {
        border-bottom: none;
    }
}

.shortfut {
    border-bottom: 1px solid darkgray;
    display: flex;
    padding: 0px 2px;

    .shortfutShared {
        padding: 4px 2px;
    }

    .shortfutDescription {
        @extend .shortfutShared;
        width: 300px;
    }

    .shortfutShortcut {
        @extend .shortfutShared;
        text-align: right;
        width: 50px;
    }
}
