@import './theme';

.announcementContainer {
    background-color: white;
    border: 1px solid $themePrimaryColor;
    color: $themePrimaryColor;
    display: flex;
    flex-direction: column;
    line-height: 1;
    right: 0;
    width: 325px;

    // Fabric styles for ms-Fabric
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: 'Segoe UI Web (West European)', Segoe UI, -apple-system,
        BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
}

.announcementCloseButton {
    padding-right: 12px;
    padding-top: 6px;
    position: absolute;
    right: 0;
}

.announcementHeader {
    align-items: center;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 12px 12px 0px 12px;
}

.announcementHeaderIcon {
    margin-right: 12px;
    transform: scaleX(-1);
}

.announcementHeaderIconRight {
    margin-left: 12px;
}

.announcementBody {
    padding: 20px 12px 24px 12px;
}

.announcementBullet {
    align-items: center;
    display: flex;
    margin-top: 12px;
}

.announcementBulletIcon {
    margin-right: 6px;
}

.announcementMessage {
    display: flex;
}

#announcementSetShortcuts {
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(130, 125, 212);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(130, 125, 212);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(130, 125, 212);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(130, 125, 212);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(130, 125, 212) !important;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Segoe UI Web (West European)', 'Segoe UI', -apple-system,
        system-ui, Roboto, 'Helvetica Neue', sans-serif !important;
    font-size: 14px !important;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgba(0, 0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    position: relative;
    text-align: right;
    text-indent: 0px;
    text-overflow: clip;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
