$themePrimaryColor: #201c55;
$themeLighterAltColor: #ebeaf8;
$themeLighterColor: #ccc9ed;
$themeLightColor: #827dd4;
$themeTertiaryColor: #3b349f;
$themeSecondaryColor: #242061;
$themeDarkAltColor: #1c194c;
$themeDarkColor: #141236;
$themeDarkerColor: #110f2e;
$neutralLighterAltColor: #f8f8f8;
$neutralLighterColor: #f4f4f4;
$neutralLightColor: #eaeaea;
$neutralQuaternaryAltColor: #dadada;
$neutralQuaternaryColor: #d0d0d0;
$neutralTertiaryAltColor: #c8c8c8;
$neutralTertiaryColor: #a6a6a6;
$neutralSecondaryColor: #666666;
$neutralPrimaryAltColor: #3c3c3c;
$neutralPrimaryColor: #333;
$neutralDarkColor: #212121;
$blackColor: #1c1c1c;
$whiteColor: #fff;
$primaryBackgroundColor: #fff;
$primaryTextColor: #333;
$bodyBackgroundColor: #fff;
$bodyTextColor: #333;
$disabledBackgroundColor: #f4f4f4;
$disabledTextColor: #c8c8c8;
