$themePrimaryColor: #06153d;
$themeLighterAltColor: #cfd5e8;
$themeLighterColor: #a7b2d2;
$themeLightColor: #8393bd;
$themeTertiaryColor: #6476a8;
$themeSecondaryColor: #495c92;
$themeDarkAltColor: #32467d;
$themeDarkColor: #1f3268;
$themeDarkerColor: #102253;
$neutralLighterAltColor: #9fe7da;
$neutralLighterColor: #9de3d6;
$neutralLightColor: #96dacd;
$neutralQuaternaryAltColor: #8ccbbf;
$neutralQuaternaryColor: #86c2b7;
$neutralTertiaryAltColor: #80baaf;
$neutralTertiaryColor: #f9c4d3;
$neutralSecondaryColor: #f38ba9;
$neutralPrimaryAltColor: #ed5983;
$neutralPrimaryColor: #ea4372;
$neutralDarkColor: #b23458;
$blackColor: #832641;
$whiteColor: #a2ecde;
$bodyBackgroundColor: #a2ecde;
$bodyTextColor: #ea4372;
