.ms-TextField {
  margin: 0 10px !important;
  width: 50px;
}

.editShortcutsContainer {
  // width: 340px;
  height: 600px;
}

.editShortcutsButtons {
  display: flex;
  margin-left: auto;
  margin-top: 12px;
  margin-right: 6px;
  // width: 340px;
  justify-content: center;
}

.editShortcutsError {
  margin-top: 12px;
  // width: 340px;
  display: flex;
  justify-content: center;
  padding: 0px 24px;
}

.editShortcutsShortcut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  margin-top: 2px;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  margin-right: 12px;
}
