@import '../theme';

.editShortcutsContainer {
    width: 400px;
    height: 600px;
}

.editShortcutsButtons {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 12px;
    margin-right: 6px;
    width: 180px;
}

.editShortcutsError {
    margin-top: 12px;
    width: 400px;
    display: flex;
    justify-content: center;
}